.row{
    margin: 0 0 20px;
    font-size: 0;
    display: flex;
}
.row--bublik{
    justify-content: space-between;
}
.column{
    display: inline-block;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0 .5rem;
}
.inner{
    background-color: lightblue;
    height: 100px;
}
.column--1{
    width: 100%;
}
.column--2 {
    width: 50%;
}
.column--3{
    width: calc(100% / 3);
}
.column--4 {
    width: 25%;
}
.column--5 {
    width: calc(100% / 5);
}
.column--6{
    width: calc(100% / 6);
}
.column--7 {
    width: calc(100% / 7);
}
.column--8{
    width: calc(100% / 8);
}
.column--9{
    width: calc(100% / 9);
}
.column--10{
    width: calc(100% / 10);
}
.column--11{
    width: calc(100% / 11);
}
.column--12{
    width: calc(100% / 12);
}