.row{
    margin: 0 -1% 20px;
}
.row::after{
    content: '';
    display: table;
    clear:both;
}
.column{
    height: 200px;
    background-color: lightblue;
    width: 23%;
    float: left;
    margin: 0 1%;
}
.column--1{
    width: 98%;
}
.column--2 {
    width: 48%;
}
.column--3{
    width: calc(100% / 3 - 2%);
}
.column--4 {
    width: 23%;
}
.column--5 {
    width: calc(100% / 5 - 2%);
}
.column--6{
    width: calc(100% / 6 - 2%);
}
.column--7 {
    width: calc(100% / 7 - 2%);
}
.column--8{
    width: calc(100% /8 - 2%);
}
.column--9{
    width: calc(100% /9 - 2%);
}
.column--10{
    width: calc(100% /10 - 2%);
}
.column--11{
    width: calc(100% /11 - 2%);
}
.column--12{
    width: calc(100% /12 - 2%);
}